@import url(https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=Beaufort+for+LOL+Bold);

@font-face {
    font-family: "Beaufort for LOL Bold";
    src: url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot");
    src: url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#Beaufort for LOL Bold")format("svg");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-btn-container{
    display:inline-block;
    position: absolute;
    top: 2svh;
    left: 5svh;
}
.menu-btn{
    height: 5svh;
    width: 5svh;
    padding: 0 1svh;
    cursor: pointer;
   
}
.champ-container{
    width: 100%;
    height: 100svh;
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Zac_0.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.champ-title-container{
    display: inherit;
    justify-content: flex-start;
}
.champ-title{
    font-size: 2rem;
    font-family: "Beaufort for LOL Bold", serif;
    color:#fafafa;
    margin: 0 25svh;
}
.champ-name-container{
    display: inherit;
    justify-content: flex-start;
}
.champ-name{
    font-size: 12rem;
    font-family: "Beaufort for LOL Bold", serif;
    color: #fafafa;
    margin: 0 25svh;
}

.btn-container{
    align-content: flex-end;
    display: inline-block;
}

.btn-learn-more{
    background-color: blue;
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing:0.16em;
    padding: 1svh;
    margin: 0 25svh;
}

.btn-learn-more:hover{
    cursor: pointer;
}