*{
    color:#fafafa;
    font-family: "Beaufort for LOL Bold", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #070720;
    font-size: 16px;
}

.champ-name{
    margin: 0 auto;
    color: #fafafa;
}
.champ-img{
    position: 20%;
    max-width: 100%;
    z-index: -1;
    position: absolute;
    mask-image: linear-gradient(rgb(0,0,0)65%,rgba(0,0,0,0)98%);


}

.info{
    position:absolute;
    margin-top: 15svh;
}
.container-all{
    display: grid;
    grid-template-rows: repeat(3);
    column-gap: 1rem;
    justify-content: space-between;
}
.role-and-difficult-container{
    display: flex;
    justify-content: space-evenly;
}
.div-divisor{
    width: 290px;
    height: 1px;
    margin: 0 auto;
    background-color: #fafafa;
}
.champ-title{
    text-align: center;
}
.builds-links{
    border-top: 1px solid #fafafa;
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin: 1.2svh;
    padding: 0.2svh;
}
.camp-descripcion{
    margin: 1em;
}
.lore-container{
    padding: 1svh;
}
.role-and-difficult-container{
    padding: 1svh;
}
.rol-img{
    height:3svh;
    padding-left:0.5svh ;
}
.difficulty-img-contain{
    padding-left: 1svh;
    padding-top: 1svh;
    padding-bottom: 0.5svh;
}
.difficulty-img{
        display: inline-block;
        width: 1.8svh;
        height: 1.3svh;
        padding-right: 4%;
        padding-left: 10%;
        background-color: rgb(8, 215, 247);
        transform: skewX(-40deg);
}
.lin
.champ-links{
    text-decoration: none;
    font-size: 1.5svh;
    margin: 1.2svh;

}
