
*{
    color:#ffffff;
    font-family: "Beaufort for LOL Bold", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-btn {
    display: flex;
    position: fixed;
    top: 2svh;
    left: 2svh;
    width: 4svh;
    height: 4svh;
    cursor: pointer;
    z-index: 10;
}
.menu-btn:hover {
    scale: 1.5;
}
body{
    background-color: #070720;
    font-size: 16px;
    position: relative;
}

.champ-name{
    margin: 0 auto;
    color: #fafafa;
}
.champ-img{
    position: 20%;
    max-width: 100%;
    z-index: -1;
    mask-image: linear-gradient(rgb(0,0,0)65%,rgba(0,0,0,0)98%);


}
h6{
    color: rgb(208, 168, 92);
    text-transform: uppercase;
}

.info{
    margin-top: 15svh;

}
.container-all{
    display: grid;
    grid-template-rows: repeat(3);
    column-gap: 1rem;
    justify-content: space-between;
}
.role-and-difficult-container{
    display: flex;
    justify-content: space-evenly;
}
.div-divisor{
    width: 290px;
    height: 1px;
    margin: 0 auto;
    background-color: #fafafa;
}
.champ-title{
    text-align: center;
}
.builds-links{
    border-top: 1px solid #fafafa;
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin: 1.2svh;
    padding: 0.2svh;
}
.camp-descripcion{
    margin: 1em;
}
.lore-container{
    padding: 1svh;
}
.role-and-difficult-container{
    padding: 1svh;
}
.rol-img{
    height:3svh;
    padding-left:0.5svh ;
}
.difficulty-img-contain{
    padding-left: 1svh;
    padding-top: 1svh;
    padding-bottom: 0.5svh;
}
.difficulty-img{
        display: inline-block;
        width: 1.8svh;
        height: 1.3svh;
        padding-right: 4%;
        padding-left: 10%;
        background-color: rgb(8, 215, 247);
        transform: skewX(-40deg);
}
.champ-links{
    text-decoration: none;
    font-size: 1.5svh;
    margin: 1.2svh;

}
.hability_video{
    max-width: 55%;
    position: absolute;
    left: 24%;
    display: none;
}
.hability_img{
    border: solid 1px rgba(255,255,255,.8);
}
.hability_video{
    border: solid 1px rgba(255,255,255,.8) ;
}

.hability_button{
    background: none;
    border: none;
    padding-top: 8rem;

}
.hability_img{
    height: 3.3rem;

}
.button_container{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hability_img:hover{
    border:1px solid rgb(208, 168, 92);
}
.abilities-container{
    position: relative;
}
.text_containers{
    position: absolute;
    display: none;
}
#Passive_video,#P_explication{
    display: block;
}

@media (min-width:1023px) {
    .div-divisor{
        width: 1px;
        height: 10rem;
        margin-top: 2.5rem;
        margin-right: auto;
        margin-bottom: 2.5rem;
        margin-left: auto;


    }
    .container-all{
        display: grid;
        grid-template-columns:40% 10% 40%;
        column-gap: 0.5rem;
        justify-content: space-around;

    }
    .role-and-difficult-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5rem;
        gap: 8rem;
    }
    .lore-container{
        display: flex;
        align-items: center;
    }
    .champ-lore{
        padding-left: 0;
    }
    .hability_video{
        max-width: 55%;
        position: relative;
        margin: 3rem;
    }
    .button_container{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    padding: 0;
    }
    .container-habilitys-buttons{
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 1fr 1fr;
    }
    .gif-container{
        order: 2;
    }
    .button-text-container{
        display: grid;
        grid-template-rows:50% 50%;
    }
    .text_containers{
        max-width: 80ch;
        padding: 2svh;
    }
    .hability_button{
        padding: 0;
    }
    .champ-name{
        font-size: 3.5rem;
        text-transform:uppercase;
    }
    .champ-title{
        font-size: 3.5rem;
    }
    .info{
        font-size: 1.2rem;
    }
    .champ-links{
        font-size: 1.2rem;
    }
    .explication_container{
        font-size: 1.2rem;
    }
   
}